@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('Roboto-Black.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf');
}