html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    color:#555;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
     text-decoration:  none;
     
}
	
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    clear: both;
    display: block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
.pull_left{ float: left;}
.pull_right{ float: right;}
body{background: #FFF;
position: relative;
font: 13px/22px "Roboto Condensed","sans-serif","roboto","Open Sans", "Arial",sans-serif;
color: #666;
line-height: 22px;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {

}h1, h2, h3, h4, h5, h6 {
    
font-weight: 300;

}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title{ font-weight: bold;color: #D42424;}
a{color: #515151;}
h1.title:hover, h2.title:hover, h3.title:hover, h4.title:hover, h5.title:hover, h6.title:hover{color: #ED3F3B;}

* {
 -webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;
box-sizing: border-box; 
}
.mgt_20{ margin-top: 20px;}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 box-sizing: border-box; 
}
*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.thumb img{ width:100%;}
.thumb{ overflow: hidden;}
/*font from google fonts*/
/* fallback */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFdJ_1rrj2ZjOK53P0BoXuI.woff2) format('woff2');
}
/* cyrillic-ext */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), 
      local('OpenSans-Light'), 
      url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXwUvq1pQaUIDqPgpae5ItU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/59ZRklaO5bWGqF5A9baEET8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnwUvq1pQaUIDqPgpae5ItU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBkbnXQ06sCSpaytluCdpFnY.woff) format('woff');
}
/*END - font from google fonts*/

@font-face
{
    font-family: 'SFUIncised';
    src: url('fonts/SFUIncised901Regular.ttf') format('truetype');
}
@font-face{
    font-family:'YANSmallTitle';
    src:url('fonts/YANSmallTitle.eot');
    src:local('â˜º'),url('fonts/YANSmallTitle.woff') format('woff'),
        url('fonts/YANSmallTitle.ttf') format('truetype'),
        url('fonts/YANSmallTitle.svg') format('svg');
    font-weight:normal;
    font-style:normal
}
.thumb:hover img {
/*-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: all 0.25s;*/
}

.float_left { float: left;}
.float_right { float:right;}

input{ border-radius: 3px;}