* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #888;
}

ul li {
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    clear: both;
    display: block;
}

body {
    font-family: arial;
    font-size: 13px;
}

.wp_inner {
    max-width: 1000px;
    margin: 0px auto;
}

.list_inline > li {
    display: inline-block;
    padding: 10px;
}

.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

i.fa {
    display: none;
    font-size: 24px;
}

/*this is style head*/
body {
    background: url(images/background.jpg) no-repeat bottom left #000;
    background-size: 100%;
}

/*style head*/
#head {
    background: #000;
}

#wp_content {
    background: #000;
}

#head .title h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-family: -webkit-body;
    color: #dbbb71;
    margin-top: 27px;
}

#head .title {
    float: left;
}

#icon {
    float: right;
    width: 163px;
    margin-top: -35px;
    background-color: #171717;
}

#icon li {
    float: left;
    border-left: 1px solid #767574;
}

#icon li:first-child {
    border-left: 0px;
}

#icon .thumb img {
    padding: 5px 16px 0px 24px;
}

#contact {
    float: right;
    color: #D6B14D;
}

#contact .hotline {
    margin-right: 60px;
}

#contact .icon-dt {
    margin-right: 5px;
    margin-top: 2px;
}

#menu-page-menu {
    background-color: #464646;
    margin-top: 15px;
}

#menu-page-menu li {
    float: left;
    position: relative;
}

#menu-page-menu li a {
    padding: 5px 20px;
    text-transform: uppercase;
    display: block;
    color: white;
    font-weight: bold;
}

#menu-page-menu > li > a:hover {
    background: #af985a
}

#menu-page-menu li .sub-menu {
    display: none;
    position: absolute;
    background: #3668a3;
    top: 32px;
    right: -18px;
    background: #FFF;
    z-index: 999;
    width: 190px;
}

#menu-page-menu li .sub-menu a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

#menu-page-menu li:hover .sub-menu {
    display: block;
}

/*------------>end style head<-------------*/
/*------------------->style content<-------------*/
#content {
    background: #000;
}

#content .thumb {
    width: auto;
    height: auto;
}

#content .thumb img {
    width: 100%;
}

#main {
    margin-top: 37px;
}

#main .item_main {
    margin-left: 20px;
}

#main .item_main:first-child {
    margin-left: 0px;
}

#main .thumb {
    width: 285px;
    height: 165px;
    margin-top: 20px;
}

#main .item_main1 .thumb {
    width: 285px;
    height: auto;
    margin-top: 20px;
}

#main .thumb img {
    width: 100%;
}

#main .item_main, .item_main1 {
    width: 320px;
    height: 430px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #444444;
    padding: 17px;
}

#main .item_main h3, .item_main1 h3 {
    text-transform: uppercase;
    color: white;
    margin-top: -5px;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
}

#main .item_main .bd, .item_main1 .bd {
    width: 142px;
    display: block;
    border: 1px solid #fac75e;
}

#main .item_main .bd1, .item_main1 .bd1 {
    width: 142px;
    display: block;
    border: 1px solid #767574;
    float: right;
}

#main .item_content {
    margin-top: 20px;
}

#main .item_main .item_content p {
    color: #b5b5b5;
}

#main .item_main .item_content a {
    font-size: 12px;
    color: #fac75e;
}

#main .item_main .ct a {
    padding: 6px 12px;
    line-height: 27px;
    color: white;
}

#main .item_main .ct {
    float: right;
    margin-top: 25px;
    width: 80px;
    height: 28px;
    background-color: #edbc59;
    border-radius: 3px
}

#main .item_main1 .item_content a {
    text-transform: none;
    padding: 9px;
    color: #b5b5b5;
}

#main .item_main1 .item_content .fa {
    font-size: 9px;
    color: #767574;
}

/*------------>style<-----------footer*/
#footer {
    /*background: url(images/bg-footer-11.jpg) no-repeat fixed;*/
}

#footer .address {
    margin-top: 30px;
    font-size: 16px;
}

#footer .address li span {
    color: #d1d0d0
}

#footer .right h3 {
    margin-top: 15px;
    font-size: 16px;
    color: #c8903c;
}

/*  style  duong luc khang */

.post h2 {
    margin: 20px 0px;
    /*padding: 10px 0px;*/
    font-family: 'Roboto Bold';
    color: #d6b14d;
    font-weight: bold;
    padding-left: 10px;
    border-left: 3px solid #618C31;
    font-size: 24px;
}

.main_detail_post {
    width: 65%;
    float: left;
}

/* style sidebar */

.main_sidebar {
    width: 25%;
    float: right;
    margin-top: 30px;
}

.main_sidebar h4 {
    padding: 5px 10px;
    color: #FFF;
}

.main_sidebar h4 a {
    color: #FFF;
}

.main_sidebar h4:hover a {
    color: #D6B14D;
}

.title_sidebar {
    background: #D6B14D;
    padding: 5px 10px;
    font-size: 16px;
    color: #FFF;
    text-transform: uppercase;
}

.main_sidebar p {
    background: #202020;
    margin: 10px 0px;
    color: #FFF;
    padding: 10px 5px;
}

.main_sidebar .block_sidebar2 img {
    width: 100%;
    height: 147px;
    padding: 10px 0px;
}

.main_sidebar .block_sidebar3 img {
    width: 100%;
    height: 271px;
    padding: 10px 10px;
}

.main_sidebar .block_sidebar2 {
    background: #202020;
    padding: 10px 10px;
}

.main_sidebar .block_sidebar2 h3 {
    color: #D6B14D;
    font-size: 13px;
    font-weight: bold;
}

.main_sidebar .block_sidebar2 span {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.main_sidebar .block_sidebar3 {
    background: #202020;
}

/*style post tin tuc*/
.new_main {
    float: left;
    display: block;
    margin-top: 30px;
    min-height: 410px;
    margin-bottom: 15px;
}

.new_left {
    float: left;
    width: 400px;
    min-height: 400px;
}

.s {
    padding-right: 15px;
}

.img_new_left {
    position: relative;
}

.info_post {
    opacity: 0.8;
    width: 100%;
    min-height: 100px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    background: #202020;
}

.info_post a h4 {
    color: #d6b14d;
    padding: 5px 14px;
    font-size: 16px;;
}

.desc {
    color: #a3a3a3;
}

.info_post .desc p {
    color: #fff;
    padding: 10px;
    text-align: justify;
}

.new_right {
    float: right;
    padding-right: 20px;
    padding-left: 10px;
    min-height: 400px;
}

.right {
    padding-top: 10px;
    max-width: 315px;
}

.right:first-child {
    padding-top: 1px;
}

.right .thumb_right {
    margin-right: 10px;
    float: left;
    height: 125px;
    width: 125px;
}

.thumb_right img {
    width: 100%;
    height: auto;
}

.right a h5 {
    color: #d6b14d;
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
    text-align: justify;
}

.right .desc {
    color: #c9c9c9;
    text-align: justify;
}

.new_bottom {
    float: left;
    padding-right: 20px;
}

.items_bottom {
    margin-top: 10px;
    min-height: 130px;
    max-width: 100% !important;
    border-top: 1px solid #000000;
    border-bottom: 0px;
}

.thumb_bottom {
    margin-right: 10px;
    width: 130px;
    height: 130px;
    float: left;
}

.thumb_bottom img {
    width: 100%;
    height: auto;
}

.img {
    vertical-align: middle;
}

.items_bottom a h4 {
    color: #D6B14D;
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
}

.items_bottom .disc {
    color: #c9c9c9;
    text-align: justify;
}

.items_bottom p {
    color: #FFFFFF;
    text-align: justify;
}

/*  style  phan chuyen gia tu van */

.block_content_left {
    width: 65%;
    float: left;
}

.line-link-cat {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #3b3b3b;
}

.panel_group {
    margin-bottom: 20px;
}

.list_info_us {
    margin-bottom: 7px;
}

.list_info_us dt {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #D1F7CF;
    background: #F5F5F5;
    border-radius: 5px 5px 0px 0px;
    min-height: 50px;
    cursor: pointer;
}

.dt p {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
}

.dt {
    font-size: 14px;
    font-weight: bold;
}

.detail_show {
    display: none;
    min-height: 50px;
    background: #fff;
    border: 1px solid #D1F7CF;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.detail_show p {
    padding-left: 10px;
    padding-top: 5px;
}

.contact_form7 h2 {
    font-size: 18px;
    color: #FFFFFF;
    padding: 5px 0px;
}

.contact_form7 p input[type='text'] {
    width: 100%;
    height: 30px;
}

.contact_form7 p input[type='email'] {
    width: 100%;
    height: 30px;
}

.contact_form7 textarea {
    width: 100%;
}

.contact_form7 input[type='submit'] {
    padding: 10px 20px;
    margin-top: 10px;
}

/*style phần liên hệ */
.block_contact {
    float: left;
    width: 70%;
}

.contact .detail p {
    padding: 5px 0px;
}

.block_contact .idea {
    padding-top: 30px;
}

.idea h2 {
    border-left: 3px solid #618C31;
    font-size: 18px;
    color: #d6b14d;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

.idea h3 {
    color: #FFFFFF;
    padding: 5px 0px;
    font-size: 16px;
}

.idea input[type='text'] {
    width: 100%;
    height: 30px;
}

.idea input[type='email'] {
    width: 100%;
    height: 30px;
}

.idea textarea {
    width: 100%;
}

.idea input[type='submit'] {
    padding: 5px;
    margin-top: 10px;
}

.map h2 {
    margin-top: 10px;
    border-left: 3px solid #618C31;
    font-size: 18px;
    color: #d6b14d;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

/*  style single.php */
.entry p {
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    font-family: arial, sans-serif;
}

.entry p img {
    width: 80%;
    height: auto;
    margin: 40px 100px;
}
/* ho so san pham */
.content_file {float:left; width: 70%;}
