<div class="wp_inner">
    <div class="block fl_left">
        <div class="news_archive ">

            <div class="new_fleft" style="float: left;">
                <?php
                            $cat_id = get_query_var('cat');
                                $new_loop= new WP_Query('showposts=1&cat='.$cat_id);
                                ?>
                <?php
                                if($new_loop->have_posts()):
                while($new_loop->have_posts()):
                $new_loop->the_post();
                ?>
                <div>

                    <a href="<?php the_permalink(); ?>"</div>
                <?php the_title(); ?></a>
            </div>
            <?php the_post_thumbnail();?>
            <?php
                                    endwhile;
                                endif;?>

        </div>

        <div class="new_right" style="float: right" ;>
            <?php
                                $cat_id = get_query_var('cat');
                                $new_loop= new WP_Query('offset=1&showposts=3&cat='.$cat_id);
                                ?>
            <?php
                                if($new_loop->have_posts()):
            while($new_loop->have_posts()):
            $new_loop->the_post();
            ?>
            <a href="<?php the_permalink(); ?>"</div>
        <?php the_title(); ?></a> </br>

        <?php
                                    endwhile;
                                endif;?>

    </div>
</div>
</div>