*{margin: 0px; padding: 0px;}
a{text-decoration:none; color: #888;}
ul li{list-style: none;}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{clear: both;
          display: block;}
body{font-family: arial; font-size: 13px;}
#wrapper_container{
    max-width: 1000px;
    margin: 0px auto;}
.list_inline>li{ display: inline-block; padding: 10px;}
.fl_left{ float: left;}
.fl_right { float: right;}
.text_center { text-align: center;}
.text_left{ text-align: left;}
.text_right{ text-align: right;}
i.fa{ font-size: 24px;}
/*this is style head*/
body{background: url(../img/background.jpg) no-repeat; background-size: 100%;
background-attachment: fixed;}
/*style head*/
#head .title h1{font-size: 35px;
                text-transform: uppercase;
                font-family: -webkit-body;
                color: #dbbb71;
                margin-top: 27px;}
#head .title{float: left;}
#icon{float: right;
      width: 163px;
      margin-top: -35px;
      background-color: #171717;}
#icon li{float: left;border-left: 1px solid #767574;}
#icon li:first-child{border-left: 0px;}
#icon .thumb img{padding: 5px 16px 0px 24px;}
#contact{float: right;}
#contact .hotline{  margin-right: 60px;}
#contact .icon-dt{margin-right: 5px;
                  margin-top: 2px;}
#menu{background-color: #464646;  margin-top: 15px;}
#menu li{float: left;}
#menu li a{padding: 5px 20px;
           text-transform: uppercase;
           display: block;
           color: white;
           font-weight: bold;}
#menu li a:hover{background: #af985a}
/*------------>end style head<-------------*/
/*------------------->style content<-------------*/
#content .thumb{width:auto;height: auto;}
#content .thumb img{width: 100%;}
#main{margin-top: 37px;}
#main .item_main{margin-left: 20px;}
#main .item_main:first-child{margin-left: 0px;}
#main .thumb{width: 285px;height: 165px;margin-top: 20px;}
#main .item_main1 .thumb{width: 285px;height: auto;margin-top: 20px;}
#main .thumb img{width: 100%;}
#main .item_main,.item_main1{width: 320px;
                             height: 430px;
                             border: 1px solid #444444;
                             border-radius: 5px;
                             background-color: #444444;padding: 17px;}
#main .item_main h3, .item_main1 h3{text-transform: uppercase;
                                    color: white;
                                    margin-top: -5px;
                                    padding: 0px 0px 10px 0px;
                                    font-weight: bold;}
#main .item_main .bd, .item_main1 .bd{  width: 142px;
                                        display: block;
                                        border: 1px solid #fac75e;}
#main .item_main .bd1, .item_main1 .bd1{    width: 142px;
                                            display: block;
                                            border: 1px solid #767574;
                                            float: right;}
#main .item_content{margin-top: 20px;}
#main .item_main .item_content p{ color: #b5b5b5;}
#main .item_main .item_content a{font-size: 12px;
                                 color: #fac75e;}
#main .item_main .ct a{  padding: 6px 12px;
                         line-height: 27px;
                         color: white;}
#main .item_main .ct{  float: right;
                       margin-top: 25px;
                       width: 80px;
                       height: 28px;
                       background-color: #edbc59;
                       border-radius: 3px}
#main .item_main1 .item_content a{text-transform: none;
                                  padding: 10px;
                                  color: #b5b5b5;
}
#main .item_main1 .item_content .fa{  font-size: 9px;
                                      color: #767574;}
/*------------>style<-----------footer*/
#footer{background: url(../img/bg-footer-11.jpg) no-repeat fixed;}
#footer .address{margin-top: 30px;}
#footer .address li span{color: #d1d0d0}
#footer .right h3{  margin-top: 15px;
                    color: #c8903c;}